<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关于我 - RainBlog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" th:href="@{/site/images/favicon.png}">
    <link rel="stylesheet" data-th-href="@{/site/css/style.min.css}"/>
</head>
<body>
<div th:replace="site/layout/header"></div>
<article class="main-content page-page">
    <div class="post-header"><h1 class="post-title" itemprop="name headline"> About </h1>
        <div class="post-data">
            <time  itemprop="datePublished">Published on Dec 01, 2019</time>
        </div>
    </div>
    <div id="post-content" class="post-content"><h3>Hello</h3>
        <p>我是 阿Rain ，一名从事 Java开发 的 Programmer</p>
        <p>RainBlog 博客项目起初是在 <a href="https://github.com/TyCoding/tumo" style="color: green" target="_blank">Tumo</a> Fork过来的项目</p>
        <p>后来，在Tumo的基础上加入了自己的技术，如果需要源码，可以在这里找到我<a href="https://github.com/DogerRain/RainBlog" style="color: blue" target="_blank">RainBlog</a></p>
        <p>但是由于技术太菜，项目存在很多未知问题，大家可以给我提Issues</p>
        <p>目前该博客只会分享关于我日常拍摄的图片，技术交流可以关注我的另外一个<a style="color: red" target="_blank" href="https://blog.csdn.net/yudianxiaoxiao">博客</a></p>
        <h3>关于我</h3>
        <p>目前任职于“你是我所有的渴望 我敬仰与热爱的一切”的MEIZU</p>
        <p>我在马不停蹄赶来的路上...</p>
        <p>你可以通过下面的社交链接联系到我···</p>
        <ul>
            <li><p><a href="https://blog.csdn.net/yudianxiaoxiao" target="_blank">Blog</a></p></li>
            <li><p><a href="https://github.com/DogerRain" target="_blank">Github</a></p></li>
            <!--<li><p><a href="https://www.zhihu.com/people/tomo-83-82/activities" target="_blank">zhihu</a></p></li>-->
            <!--<li><p>QQ Group: 671017003</p></li>-->
            <!--<li><p><a href="javaScript:;" onclick="repeat()">微信</a></p></li>-->
            <!--<div th:style="'background:url(http://hyw.baimuxym.cn/1575442587803.png)'"></div>-->
        </ul>
</article>

<div id="respond-post-334" class="comment-container">
    <div id="comments" class="clearfix">
       <!-- <span class="response">Responses
            <a id="cancel-comment-reply-link"
               href="https://www.linpx.com/p/mat-analysis-of-indicators-for-heap-dump.html#respond-post-334"
               rel="nofollow" style="display:none"
               onclick="return TypechoComment.cancelReply();"> / Cancel Reply</a>
        </span>
        <form method="post" action="#" id="comment-form" class="comment-form" role="form">
            <input name="sort" value="2" style="display: none;">
            <input name="pid" id="pId" value="" style="display: none;">
            <input name="cname" id="cName" value="" style="display: none;">
            <input type="text" name="name" maxlength="12" id="author" class="form-control input-control clearfix" placeholder="Name (*)" value="" required="">
            <input type="email" name="email" id="mail" class="form-control input-control clearfix" placeholder="Email (*)" value="" required="">
            <input type="url" name="url" id="url" class="form-control input-control clearfix" placeholder="Site (http://)" value="">
            <textarea name="content" id="textarea" class="form-control" placeholder="Your comment here. Be cool. " required=""></textarea>
            <button type="submit" class="submit" id="submit">SUBMIT</button>
        </form>-->
        <ol class="comment-list">
            <li th:each="parent : ${comments.rows}" th:id="'li-comment-' + ${parent.id}" class="comment-body comment-parent comment-even">
                <div th:id="'comment-' + ${parent.id}">
                    <div class="comment-view" onclick="">
                        <div class="comment-header">
                            <img class="avatar" th:src="@{/site/images/user.png}" width="80" height="80">
                            <span class="comment-author">
                                <a th:href="${parent.url}" target="_blank" rel="external nofollow">[[${parent.name}]]</a>
                                <span>[[${parent.device}]]</span>
                            </span>
                        </div>
                        <div class="comment-content">
                            <span class="comment-author-at"></span>
                            <p>[[${parent.content}]]</p>
                            <p></p>
                        </div>
                        <div class="comment-meta">
                            <time class="comment-time">[[${parent.time}]]</time>
                            <span class="comment-reply">
                                 <a href="#comments" rel="nofollow" th:onclick="reply([[${parent.id}]], [[${parent.name}]]);">Reply</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div th:if="!${#lists.isEmpty(parent.children)}" class="comment-children">
                    <ol class="comment-list">
                        <li th:each="child : ${parent.children}" th:id="'li-comment-' + ${child.id}" class="comment-body comment-child comment-level-odd comment-odd">
                            <div th:id="'comment-' + ${child.id}">
                                <div class="comment-view" onclick="">
                                    <div class="comment-header">
                                        <img class="avatar" th:src="@{/site/images/user.png}" width="80" height="80">
                                        <span class="comment-author">
                                            <a th:href="${child.url}" target="_blank" rel="external nofollow">[[${child.name}]]</a>
                                            <span>[[${child.device}]]</span>
                                        </span>
                                    </div>
                                    <div class="comment-content">
                                        <span class="comment-author-at"><a th:href="'#comment-' + ${child.pId}">@[[${child.target}]]</a></span>
                                        <p>[[${child.content}]]</p>
                                        <p></p>
                                    </div>
                                    <div class="comment-meta">
                                        <time class="comment-time">[[${child.time}]]</time>
                                        <span class="comment-reply">
                                            <a href="#comments" rel="nofollow" th:onclick="reply([[${parent.id}]], [[${child.name}]]);">Reply</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </li>
        </ol>
        <div th:if="${comments.pages} > 0" class="lists-navigator clearfix">
            <ol class="page-navigator">
                <li th:if="${comments.current} > 1" class="prev">
                    <a th:href="'/links?page=' + (${comments.current} - 1) + '#comments'">←</a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, comments.pages)}" th:class="${comments.current} == ${i} ? 'current' : ''">
                    <a th:href="'/links?page=' + ${i} + '#comments'">[[${i}]]</a>
                </li>
                <li th:if="${comments.current} < ${comments.pages}" class="next">
                    <a th:href="'/links?page=' + (${comments.current} + 1) + '#comments'">→</a>
                </li>
            </ol>
        </div>
    </div>
</div>

<div th:replace="site/layout/footer"></div>
<script th:src="@{/admin/lib/editormd/jquery.min.js}"></script>
<script th:src="@{/site/js/about.js}"></script>
<!--<script>-->
    <!--function repeat() {-->
        <!--$('#modal_volume').fadeIn();-->
    <!--}-->
<!--</script>-->
</body>
</html>
