<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">身份证正面照片:</label>
        <div class="col-sm-10">
        <input type="hidden" name="img"  id="photoUrl"/>
        <input type="file" name="logoFile" id="logoFile" οnchange="setImg(this);">
        <span><img id="photourlShow" src="" width="300" height="197"/></span>
    </div>
</div>


</body>
</html>